<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out Movie Info</ng-template>
      <table class="example-full-width" cellspacing="0"><tr></tr>
        <td>
        <mat-form-field>
          <mat-label>Movie Name</mat-label>
          <input matInput placeholder="Movie Name" formControlName="firstCtrl" required>
        </mat-form-field>
      </td>
    
      
        <td>
      <mat-form-field>
        <mat-label>IMDB</mat-label>
        <input matInput placeholder="Imdb" formControlName="firstCtrl" required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label>IMG Url</mat-label>
        <textarea matInput formControlName="firstCtrl" required placeholder="Enter Image Url ..."></textarea>
      </mat-form-field>
    </td>
</table>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>