<ul
  class="list-group list-group-horizontal m-5"
  style="background-color: transparent"
>
  <li class="list-group-item m-2" *ngFor="let item of dataAll">
    <mat-card
      class="example-card bg-dark"
      routerLink="/movie-page/{{ item.id }}"
    >
      <div class="imdb">
        
        <div class="imdb-icon">  
              <img src="../../../../../assets/img/vector/IMDB_Logo_2016.svg" alt=""/>
        </div>
            <div class="imdb-num mx-1">
              <strong>{{ item.imdb }}</strong>
            </div>
      </div>

      <img
        class="cover-img"
        src="{{ item.imgsource }}"
        alt="Cover of movie {{ item.title }}"
        style="height: 350px"
      />

      <mat-card-content>{{ item.title }}</mat-card-content>
    </mat-card>
  </li>
</ul>
