<mat-card class="example-card m-2 bg-dark" style="color: white;" *ngFor="let item of dataAll">

  <div style=" background-color: black; position: absolute;">
    <img src="../../../../../assets/img/vector/IMDB_Logo_2016.svg" alt="" class="mx-1" style="height: 18px;justify-content: center">

    <strong class="mx-1 my-0">{{item.imdb}}</strong>
  </div>

  <img src="{{item.imgsource}}" alt="Cover of movie {{item.title}}">
  
  <div class="title-container mx-2">
    <div class="movie-name"> <strong> {{item.title}} </strong> </div>
  </div>

  <mat-card-actions>
    <a routerLink="/movie-page/{{item.id}}">sad</a>
    <button mat-button routerLink="/movie-page/{{item.id}}">Open</button>
  </mat-card-actions>
</mat-card>