.example-card {
    max-width: 250px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .cover{
    
  }

  .title-container{
    display: flexbox;
    justify-content: center;
    flex-wrap: wrap;
  }

  .movie-name{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
  }

  .imdb{
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-content: end;
    justify-content: flex-end;
  }