<!--
<div class="screen">
    <ul class="timeline">
         <li class="step">
            <span class="circle circle-flash-1"></span>
        </li>
        <li class="step">
            <span class="circle circle-flash-2"></span>
        </li>
        <li class="step">
            <span class="circle circle-flash-3"></span>
        </li>
        <li class="step">
            <span class="circle circle-flash-4"></span>
        </li> 
        <li class="step">
            <span class="circle circle-flash-5"></span>
        </li>
    </ul>
    <div class="circle circle-main"></div>
</div>
-->

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> James Bond.</h1>
    <p>Peerless Spy, Notorious Womanizer, and Masculine Icon.</p>
    <img src="../../../assets/Img/james-bond.png" alt="JamesBond" class="w3-image" width="992" height="1108">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">"My name is Bond. James Bond."</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>

        James Bond is a legendary British secret agent who has been captivating audiences for over fifty years. He is known for his charm, wit, and exceptional skills as a spy. Despite being in the service since 1952, he doesn't look a year older than he did when he first joined up just after the Second World War. Bond is proud to be the best, the most exciting, and the most seductive agent in the British Secret Service. He has had numerous thrilling adventures, facing dangerous megalomaniacs like Auric Goldfinger and Dr. No. Throughout his career, he has come face-to-face with death on multiple occasions but has always managed to come out unscathed. Bond's official designation is “007,” which stands for "Double-oh seven".
        
        Bond's life is shrouded in mystery, and he prefers to keep it that way. He is meant to be a secret agent, and no one is supposed to know who he truly is. However, his iconic introduction has made him a household name around the world. Bond's adventures have been immortalized in twenty-five films, with the latest installment being "No Time to Die".
        
        Bond's background and character have played a significant role in shaping him into the legendary spy he is today. His father was a Scotsman who loved adventure but tragically died in a climbing accident when Bond was just eleven years old. This event had a profound impact on him, and he made it his mission to lead a life that would make his father proud1. Bond received an excellent education at Eton, England's most prestigious public school.
        
        James Bond's story is one of intrigue, danger, and excitement. He continues to captivate audiences with his daring exploits and suave demeanor. Whether it's saving the world from nuclear threats or outsmarting cunning villains, Bond remains an iconic figure in popular culture.
        
        "Bond. James Bond."
    </p>

    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>  
    <img src="../../../assets/Img/bondgirl1.webp" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Strawberry Fields.</span> Agent.</p>
    <p style="font-style: italic;">"Mr. Bond, these orders come from the highest possible authority."</p><br>
    
    <img src="../../../assets/Img/bondgirl2.webp" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Sévérine.</span> Silva's representative.</p>
    <p>"So, Mr. Bond, shall we discuss your next performance over that drink?".</p>
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Photos</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="../../../assets/Img/james1.jpg" style="width:100%">
        <img src="../../../assets/Img/james2.jpg" style="width:100%">
        <img src="../../../assets/Img/james3.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="../../../assets/Img/james4.jpg" style="width:100%">
        <img src="../../../assets/Img/james5.jpg" style="width:100%">
        <img src="../../../assets/Img/james6.jpg" style="width:100%">
        <img src="../../../assets/Img/james7.jpg" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>

