body {
    background: transparent;
}

.screen {
    background: black;
    height: 659px;
    margin: 0 auto;
    position: relative;
    width: 1495px;
}

.circle {
    background: white;
    border-radius: 60px;
    height: 120px;
    position: absolute;
    width: 120px
}

.circle-main {
    left: -120px;
    margin-top: -60px;
    top: 50%;
    
    animation: circle-slide 7.2s linear forwards;
}

.timeline {
    display: block;
    height: 120px;
    margin-top: -60px;
    position: absolute;
    top: 50%;
    width: 100%;
    
    .step {
        display: block;
        float: left;
        height: 120px;
        margin: 0;
        position: relative;
        width: 200px;
        
        .circle {
            background: transparent;
            position: absolute;
            right: -60px;
        }
            
        .circle-flash-1 {
            animation: circle-flash 1s 0.8s;
        }

        .circle-flash-2 {
            animation: circle-flash 1s 1.4s;
        }

        .circle-flash-3 {
            animation: circle-flash 1s 2s;
        }

        .circle-flash-4 {
            animation: circle-flash 1s 2.6s;
        }

        .circle-flash-5 {
            animation: circle-flash 1s 3.2s;
        }
    }
}

@keyframes circle-flash {
    0% { background: white; }
    100% { background: transparent; }
}

@keyframes circle-slide {
    44% { 
        transform: scale(1);
        left: 940px;
        opacity: 100; 
    }
    55%, 58% { 
        transform: scale(3.92); 
        left: 940px;
        opacity: 100; 
    }
    80% {
        transform: scale(3.92);
        left: 675px;
        opacity: 100;
    }
    99% {
        transform: scale(20);
        left: 675px;
        opacity: 100;
    }
    100% {
        transform: scale(20);
        left: 675px;
        opacity: 0;
    }
}
