<body class="w3-black">

    <div class="w3-padding-large" id="main">
    
      <!-- About Section -->
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-light-grey">Who Are We?</h2>
        <hr style="width:200px" class="w3-opacity">
        <p>
    
            James Bond is a legendary British secret agent who has been captivating audiences for over fifty years. He is known for his charm, wit, and exceptional skills as a spy. Despite being in the service since 1952, he doesn't look a year older than he did when he first joined up just after the Second World War. Bond is proud to be the best, the most exciting, and the most seductive agent in the British Secret Service. He has had numerous thrilling adventures, facing dangerous megalomaniacs like Auric Goldfinger and Dr. No. Throughout his career, he has come face-to-face with death on multiple occasions but has always managed to come out unscathed. Bond's official designation is “007,” which stands for "Double-oh seven".
            
        </p>

      </div>
      
      <div class="w3-padding-64 w3-content" id="photos">
    
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="../../../assets/Img/Ali-Pixel.gif" style="width:100%">
            <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
                <h2 class="w3-text-light-grey">Sedat Ozdemir</h2>
                <hr style="width:200px" class="w3-opacity">
                <p>
            
                    James Bond is a legendary British secret agent who has been captivating audiences for over fifty years. He is known for his charm, wit, and exceptional skills as a spy. Despite being in the service since 1952, he doesn't look a year older than he did when he first joined up just after the Second World War. Bond is proud to be the best, the most exciting, and the most seductive agent in the British Secret Service. He has had numerous thrilling adventures, facing dangerous megalomaniacs like Auric Goldfinger and Dr. No. Throughout his career, he has come face-to-face with death on multiple occasions but has always managed to come out unscathed. Bond's official designation is “007,” which stands for "Double-oh seven".
                    
                </p>
        
              </div>
          </div>
    
          <div class="w3-half">
            <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
                <h2 class="w3-text-light-grey">Ali Yaylagul</h2>
                <hr style="width:200px" class="w3-opacity">
                <p>
            
                    James Bond is a legendary British secret agent who has been captivating audiences for over fifty years. He is known for his charm, wit, and exceptional skills as a spy. Despite being in the service since 1952, he doesn't look a year older than he did when he first joined up just after the Second World War. Bond is proud to be the best, the most exciting, and the most seductive agent in the British Secret Service. He has had numerous thrilling adventures, facing dangerous megalomaniacs like Auric Goldfinger and Dr. No. Throughout his career, he has come face-to-face with death on multiple occasions but has always managed to come out unscathed. Bond's official designation is “007,” which stands for "Double-oh seven".
                    
                </p>
        
              </div>
            <img src="../../../assets/Img/Sedat-Pixel.gif" style="width:100%">

          </div>
        
        </div>
      
      </div>
      <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
        <h2 class="w3-text-light-grey">Contact Us</h2>
        <hr style="width:200px" class="w3-opacity">
    
        <div class="w3-section">
          <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Turkey</p>
          <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +90 151515</p>
          <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
        </div><br>

        <h2 class="w3-text-light-grey">Location</h2>
        <hr style="width:200px" class="w3-opacity">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.28795582655!2d33.02149571090603!3d35.2490913534788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ddfcdd1888cf41%3A0xb9377d682c0cd2c8!2zT0RUw5wgS3V6ZXkgS8SxYnLEsXMgS2FtcMO8c8O8!5e0!3m2!1str!2str!4v1695420847406!5m2!1str!2str" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
      </div>
      
    </div>
    
    </body>