.header{
    width: 100%;
    background-color: blue;
    
}

.content{
    display: flex;
}

.category{
    height: 200px;
    width: 25%;
    justify-content: flex-start;
    align-items: start;
    background-color: orange;
}

.product-list{
    height: 500px;
    width: 75%;
    background-color: blueviolet;
}