<body class="mt-10" [@ResizePage]="isOpen ? 'open' : 'closed'">
    <div class="row">

        <div class="column" *ngIf="!isHidden">
            <div class="mission-card" *ngFor="let item of dataAll" (click)="toggle(item)">
                <img class="mission-img" src="{{item.imgsource}}" />
            </div>

        </div>

        <div class="column" *ngIf="!isHidden">
            <div class="mission-card" *ngFor="let item of dataAll" (click)="toggle(item)">
                <img class="mission-img" src="{{item.imgsource}}" />
            </div>
        </div>
    </div>

    <div *ngIf="isHidden">
        <div class="row">
        <div class="column">
            <div class="mission-card-showcase" (click)="goBack(showCase)">
                <img class="mission-img" src="{{showCase.imgsource}}" />
            </div>
        </div>
        <div class="column">
            <div class="typewriter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id possimus culpa officia
                fuga. Debitis commodi ducimus, officiis, eligendi fugit blanditiis quidem nesciunt perspiciatis eos
                rerum repellendus possimus exercitationem quibusdam ad?</div>
        </div>
    </div>
    </div>
</body>