<body class="mt-10">
    <div class="row">

        <div class="column">

            <div class="mission-card">
                <img class="mission-img" src="../../../assets/Img/missions/albania.webp" />
                <div class="typewriter">Place: Albania <br>Target: Alfranko <br>Details: Unkown Terrorist Activity In the Area</div>
            </div>
            <div class="mission-card">
                <img class="mission-img" src="../../../assets/Img/missions/istanbond.webp" />
                <div class="typewriter">Place: Albania <br>Target: Alfranko <br>Details: Unkown Terrorist Activity In the Area</div>
            </div>
            
        </div>

        <div class="column">
            <div class="mission-card">
                <img class="mission-img" src="../../../assets/Img/missions/istanbond.webp" />
                <div class="typewriter">Place: Albania <br>Target: Alfranko <br>Details: Unkown Terrorist Activity In the Area</div>
            </div>
        </div>
    </div>
</body>