<div class="main">Weapons


<div class="container m-2">
    <div class="card">
        <div class="imgBx">
            <img src="../../../assets/Img/m4.png" alt="nike-air-shoe">
        </div>

        <div class="contentBx">

            <h2>M4 Carbine</h2>

            

            <div class="size">
                <circle-progress [percent]="85" [radius]="50" [outerStrokeWidth]="5" [innerStrokeWidth]="4"
                [outerStrokeColor]="'#FFFFFF'" [innerStrokeColor]="'#FFFFFF'" [animation]="true"
                [animationDuration]="300" [titleColor]="'#FFFFFF'" [unitsColor]="'#FFFFFF'"></circle-progress>
            </div>
        </div>

    </div>
</div>

</div>